.calculator {
  display: flex;
  justify-content: space-around;
}

.single-cell {
  width: 140px;
  height: 90px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

h1 {
  color: #3f3f3f;
}

.calculator-container,
.calculator-oprtaitions {
  width: 580px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: #d1d1d1;
}

.bg-gray {
  background-color: #e0e0e0;
}

.bg-gray:hover {
  background-color: #e7e5e5;
}

.bg-orange {
  background-color: #f3913e;
}

.bg-orange:hover {
  background-color: #f7a55d;
}

.zero {
  width: 280px;
}

.result {
  width: 100%;
  background-color: rgb(133, 134, 147);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  font-size: 2rem;
  color: #fff;
}
